.container {
  height: 15vh;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4rem;
  }

  .btn__container {
    margin-left: 2rem;

    .btn {
      height: 4rem;
      width: 4rem;
      cursor: pointer;
      background-color: transparent;
      border: none;

      .btn-sun,
      .btn-moon {
        height: 4rem;
        width: 4rem;
      }

      .btn-sun {
        filter: invert(100%);
      }
    }
  }
}
