.container {
  width: 100vw;
  padding: 3rem;

  display: flex;

  &__input {
    width: 50%;

    display: flex;
    flex-direction: column;

    padding-right: 3.5rem;

    .input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        font-size: 1.6rem;
        font-weight: 300;
        margin: 1rem 0;
      }

      .input-area {
        margin-bottom: 1rem;
        padding: .5rem;
        width: 100%;
        border: 1px solid;
        border-radius: 5px;
        font-size: 1.4rem;
        font-family: inherit;
      }
    }

    .section-title {
      margin-top: 1rem;
      font-size: 1.8rem;
      font-weight: 400;
    }

    .section-btn {
      background-color: transparent;
      border: none;
      font-size: 1.4rem;
      padding: 1rem 0;
      cursor: pointer;

      align-self: flex-end;
    }
  }

  &__preview {
    width: 50%;

    display: flex;
    flex-direction: column;

    &--title {
      margin-bottom: 1rem;
      font-weight: 400;
    }

    .markdown {
      height: 100%;
      border: 1px solid;
      border-radius: 5px;
      padding: 1.5rem;

      &__title {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: bold;
      }

      &__section {
        margin-bottom: 1rem;

        h2 {
          font-size: 1.8rem;
          font-weight: 400;
          margin-bottom: .5rem;
        }

        p {
          font-weight: 300;
          font-size: 1.6rem;
        }
      }
    }

    &--btn {
      cursor: pointer;
      padding: 1rem 3rem;
      border-radius: 5px;
      border: none;

      background-color: #435058;
      color: #fff;
    }
  }
}