.container {
  height: 85vh;
  width: 100vw;
  padding: 3rem;

  display: flex;

  &__input {
    width: 50%;

    .input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        font-size: 1.6rem;
        font-weight: 300;
        margin: 1rem 0;
      }

      .input-area {
        margin-bottom: 1rem;
        padding: .5rem;
        width: 40rem;
        border: 1px solid;
        border-radius: 5px;
        font-size: 1.4rem;
        font-family: inherit;
      }
    }

    .section-title {
      margin-top: 1rem;
      font-size: 1.8rem;
      font-weight: 400;
    }
  }

  &__preview {
    width: 50%;

    .preview {
      height: 100%;
      border: 1px solid;
      border-radius: 5px;
      padding: 1.5rem;
    }
  }
}